:root {
  --pink-600: #E21F7E;
  --purple-900: #150225;
  --purple-400: #704ce7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--purple-900);
}

strong {
  color: var(--pink-600);
}

::-webkit-scrollbar {
  width: 9px;
  background: var(--purple-900);
}

::-webkit-scrollbar-thumb {
  background: var(--pink-600);
  border-radius: 2rem;
}